#top{
    background-color: #2b3f3c;
}
#Home {
    align-items: center;
}
.col {
    padding: 10px;
}
.col-md {
    padding: 10px;
}
.line{
    width: 60px;
    height: 15px;
    color: #fb6705;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
}